<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anshmidt.multialarm">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".application.BaseApplication"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.activities.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activities.DismissAlarmActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppFullScreenTheme">
        </activity>

        <activity
            android:name=".view.activities.SettingsActivity"
            android:parentActivityName=".view.activities.MainActivity">
        </activity>

        <receiver
            android:name=".receivers.AlarmBroadcastReceiver">
        </receiver>

        <receiver android:name=".receivers.DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.TimeChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.NotificationDismissButtonClickedReceiver">
            <intent-filter android:priority="999" >
                <action android:name="com.anshmidt.multialarm.dismissNotification" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.NotificationDismissedBySwipeReceiver"
            android:exported="false">
        </receiver>

        <service
            android:name=".services.MusicService"
            android:enabled="true">
        </service>


    </application>

</manifest>